@page "/Customers"

<h1>Show Customers</h1>

<p>On this page you can see full Customers list</p>

@if (customers == null)
{
    <p><em>Loading..</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Orders</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.Age</td>
                <td>@customer.Orders.Count</td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    private string baseUrl = "https://localhost:44342";
    private List<Customer> customers;
    
    protected override async Task OnInitializedAsync()
    {
        await load();
    }

    private async Task load()
    {
        try
        {
            HttpClient httpClient = new HttpClient();
            customers = await httpClient.GetJsonAsync<List<Customer>>($"{baseUrl}/api/Customers");
        }
        catch
        {

        }

    }
}
